#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 5rem;
  /* text-align: center; */
}

p {
  font-size: 1.9rem;
  animation: moveLeftandFade 1.2s ease;
}

/************* Heading **************/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5em;
  box-shadow: 0 10px 30px -10px #020c1b;
}
.filter {
  position: relative;
}
.filter .container {
  position: relative;
  display: none;
}
.search-bar input {
  font-size: 3rem;
  color: var(--primary-color);
}

/************* Main Movies Section **************/

.movie-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.zoom:hover {
  transform: scale(1.6, 1.4);
}

@keyframes moveLeftandFade {
  from {
      transform: translateX(10rem);
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@media (max-width: 500px) {
  #root {
    padding-inline: 3rem;
  }
  header {
    flex-direction: column;
    space-between: center;
    align-items: center;
  }
  .search-bar input {
    font-size: 1.6rem;
  }
  .movie-list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
  }
}